<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-wallet" id="smart-wallet-form">
            <p data-bind="text: getCurrentPointsText()"></p>
            <div><p>You have 1000000 point(s). You can spend maximum 1000000 point(s).</p></div>
            <fieldset data-bind="attr: {class: 'fieldset payment items allbank ' + getCode(), id: 'payment_form_' + getCode()}">
                <div class="field _required">
                    <label data-bind="attr: {for: getCode() + '_smartwallet'}" class="label">
                        <span><!-- ko i18n: 'Enter Money '--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input data-validate="{'required-entry':true, 'required':true, 'min':100, 'max':200}" type="number" name="payment[smartwallet]" class="input-number" value=""
                               placeholder="Enter Points to Spend"
                               data-bind="attr: {
                                        id:getCode() + '_smartwallet',
                                        title: $t('Enter Money'),
                                        'data-container': getCode() + '-smartwallet',
                                        valueUpdate: 'keyup' "/>
                    </div>
                </div>
            </fieldset>

            <div class="actions-toolbar">
                <div class="primary-wallet">
                    <button class="action primary-validate"
                            type="submit"
                            data-bind="click: apply">
                        <span data-bind="i18n: 'Apply Smart Wallet'"></span>
                    </button>
                </div>
            </div>
        </form>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
